:root {
    --site-header-menu-color: #d0d0d0;
    --site-header-menu-active-color: #92d527;
    --main-active-color: #06b855;
    --main-section-width: 720px;
    --main-intro-aspect-ratio: 720/844;
}